<!DOCTYPE html>
<html>

<head>
    <title>{{=response.title or request.application}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/font-awesome.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/animate.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/bootstrap-switch.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/checkbox3.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/jquery.dataTables.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/dataTables.bootstrap.css')}}">
    <link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/select2.min.css')}}">
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/themes/flat-blue.css')}}">
</head>

<body class="flat-blue">
    <div class="app-container">
        <div class="row content-container">
            <nav class="navbar navbar-default navbar-fixed-top navbar-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-expand-toggle">
                            <i class="fa fa-bars icon"></i>
                        </button>
                        <ol class="breadcrumb navbar-breadcrumb">
                            {{block breadcrumb}}
                            <li><a href="{{=URL('dashboard')}}">Dashboard</a></li>
                            {{end}}
                        </ol>
                        <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                            <i class="fa fa-th icon"></i>
                        </button>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown profile">
                            
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            {{=auth.user.first_name}} {{=auth.user.last_name}} 
                            <span class="caret"></span>
                            </a>
                            

                            <ul class="dropdown-menu animated fadeInDown">
                                <li class="profile-img">
                                    <img src="{{=URL('download', args=auth.user.avatar)}}" class="profile-img">
                                </li>
                                <li>
                                    <div class="profile-info">
                                        <h4 class="username">{{=auth.user.first_name}} {{=auth.user.last_name}}</h4>
                                        <p>{{=auth.user.email}}</p>
                                        <div class="btn-group margin-bottom-2x" role="group">
                                            <a href="{{=URL('user', args='profile')}}">
                                            <button type="button" class="btn btn-primary"><i class="fa fa-user"></i>{{=T("Profile")}}</button>
                                            </a>
                                            <a href="{{=URL('user', args='logout')}}">
                                            <button type="button" class="btn btn-primary"><i class="fa fa-sign-out"></i>{{=T("Logout")}}</button>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="side-menu sidebar-inverse">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="side-menu-container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">
                                <div class="icon fa fa-paper-plane"></div>
                                <div class="title">{{=response.title or request.application}}</div>
                            </a>
                            <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                                <i class="fa fa-times icon"></i>
                            </button>
                        </div>
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="{{=URL('dashboard')}}">
                                    <span class="icon fa fa-list"></span><span class="title">Dashboard</span>
                                </a>
                            </li>
                            {{if request.function in ['forum', 'grupo', 'atualizar_grupo']:}}
                            <li>
                                <a href="{{=URL('forum', args=request.args(0))}}">
                                    <span class="icon fa fa-comments"></span><span class="title">Fórum</span>
                                </a>
                            </li>
                            {{pass}}
                            <li>
                                <a href="{{=URL('desejos', args=auth.user.id)}}">
                                    <span class="icon fa fa-gift"></span><span class="title">Minha lista de desejos</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>
            </div>
            <!-- Main Content -->
            <div class="container-fluid">
                <div class="side-body padding-top">
                    {{include}}
                </div>
            </div>
        </div>
        <footer class="app-footer">
            <div class="wrapper">
                <span class="pull-right">2.1 <a href="#"><i class="fa fa-long-arrow-up"></i></a></span> © 2015 Copyright. Designed by: <a href="http://www.tui2tone.com/">Tui2Tone</a> | Developed by: <a href="http://juliarizza.com">Julia Rizza</a>
            </div>
        </footer>
        <div>
            <!-- Javascript Libs -->
            <script type="text/javascript" src="{{=URL('static', 'js/jquery.min.js')}}"></script>
            <script type="text/javascript" src="{{=URL('static', 'js/bootstrap.min.js')}}"></script>
            <script type="text/javascript" src="{{=URL('static', 'js/Chart.min.js')}}"></script>
            <script type="text/javascript" src="{{=URL('static', 'js/bootstrap-switch.min.js')}}"></script>
            <script type="text/javascript" src="{{=URL('static', 'js/jquery.matchHeight-min.js')}}"></script>
            <script type="text/javascript" src="{{=URL('static', 'js/jquery.dataTables.min.js')}}"></script>
            <script type="text/javascript" src="{{=URL('static', 'js/dataTables.bootstrap.min.js')}}"></script>
            <script type="text/javascript" src="{{=URL('static', 'js/select2.full.min.js')}}"></script>
            <script type="text/javascript" src="{{=URL('static', 'js/ace/ace.js')}}"></script>
            <script type="text/javascript" src="{{=URL('static', 'js/ace/mode-html.js')}}"></script>
            <script type="text/javascript" src="{{=URL('static', 'js/ace/theme-github.js')}}"></script>
            <!-- Javascript -->
            <script type="text/javascript" src="{{=URL('static', 'js/app.js')}}"></script>
            <script type="text/javascript" src="{{=URL('static', 'js/index.js')}}"></script>
</body>

</html>
